@model Mundo.Web.Models.Home.PaginaInicialViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Quantidade de Paises: @Model.QuantidadePaises</h5>
</div>

<div class="text-center">
    <h5 class="display-4">Quantidade de Estados: @Model.QuantidadeEstados</h5>
</div>

<div class="text-center">
    <h5 class="display-4">Quantidade de Amigos: @Model.QuantidadeAmigos</h5>
</div>

